*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.coteaner{
background-color: #000;
min-height: 100vh;
width: 100%;
overflow: hidden;
position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.logo{
    width: 60px;
}
ul li{
    display: inline-block;
}
ul li a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
ul li a:hover{
    color: rgb(248, 116, 40);
    transition: 0.5s;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.content .text{
    width: 40%;
    color: #fff;
}
.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
}
.content .text h2 span{
    color: rgb(248, 116, 40);

}
.content .text p{
    font-size: 18px;
    margin: 20px 0;
}
.content .text p span{
     ;
}
.content .text a{
    text-decoration: none;
    background-color:#fff ;
    color: #000;
    padding: 8px 15px;
    border-radius: 20px;
    
}
.content .text a:hover{
    transition: 0.5s;
   background-color:rgb(248, 116, 40) ;
   color: #000;
    
}
.content .imge .img{
    width: 30px;
}
.content .imge .img {
    width: 190px;
  
}
.icons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50);
}

.icons img{
    width: 40px;
    transition: 0.5s;
    cursor: pointer;
   }
   .icons img:hover{
    transform: scale(1.2);
   }